body {
    background:url(/images/back.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size: 70% 70%;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}


// 透明

/* 设置透明 */
.sidebar {
    opacity: 0.85;
}
.header, .main-inner {
    background-color: rgba(255,255,255,0.8);
}
.menu-item a:hover, .menu-item a.menu-item-active {
    background-color: rgba(150,150,150,0.1);
}
.site-brand-container {
    background-color: rgba(0,0,0,0.75);
}

/* For DarkMode */
if (hexo-config('darkmode')) {
    @media (prefers-color-scheme: dark){
        /* 侧栏、主体添加透明 */
        .sidebar {
            opacity: 0.5;
        }
        .header, .main-inner {
            background-color: rgba(39,39,39,0.75);
        }
        .site-brand-container {
            background-color: rgba(0,0,0,0.5);
        }
    }
}


